.invoice
{
   display: flex;
 
   justify-content: center;
   padding-top: 40px;
}

.inputform
{
    padding-bottom: 10px;
}

.button
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
    cursor: pointer;
}

h3{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

p{
    color: red;
}